services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "9001:8000"
    environment:
      - DATABASE_URL=postgresql+asyncpg://postgres:marketintelli123@20.40.61.170:9003/marketintelli
      - SYNC_DATABASE_URL=postgresql+psycopg2://postgres:marketintelli123@20.40.61.170:9003/marketintelli
      - REDIS_URL=redis://redis:6379/0
      - CELERY_BROKER_URL=redis://redis:6379/1
      - CELERY_RESULT_BACKEND=redis://redis:6379/2
    depends_on:
      redis:
        condition: service_started
    volumes:
      - ./backend:/app

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "9002:3000"
    depends_on:
      - backend
    volumes:
      - ./frontend/src:/app/src

  redis:
    image: redis:7-alpine
    ports:
      - "9004:6379"

  celery-worker:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: celery -A app.core.celery_app worker --loglevel=info
    environment:
      - DATABASE_URL=postgresql+asyncpg://postgres:marketintelli123@20.40.61.170:9003/marketintelli
      - SYNC_DATABASE_URL=postgresql+psycopg2://postgres:marketintelli123@20.40.61.170:9003/marketintelli
      - REDIS_URL=redis://redis:6379/0
      - CELERY_BROKER_URL=redis://redis:6379/1
      - CELERY_RESULT_BACKEND=redis://redis:6379/2
    depends_on:
      redis:
        condition: service_started
